<h2>Member Information</h2>
<div>
    <mat-horizontal-stepper linear>
        <mat-step label="Personal Details" completed="true">
            <p>Personal Details</p>
            <div>
                <mat-form-field floatLabel="never" appearance="fill" color="accent">
                    <mat-label>First Name</mat-label>
                    <input matInput required />
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="fill" color="warn">
                    <mat-label>Last Name</mat-label>
                    <input matInput required />
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Login Email</mat-label>
                    <input matInput required />
                </mat-form-field>
                <mat-form-field floatLabel="auto" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput required />
                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Address" completed="false" optional>
            <div>
                <mat-form-field floatLabel="never" appearance="fill" color="accent">
                    <mat-label>Street Address</mat-label>
                    <input matInput required />
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="fill" color="warn">
                    <mat-label>City</mat-label>
                    <input matInput required />
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>State</mat-label>
                    <input matInput required />
                </mat-form-field>
                <mat-form-field floatLabel="auto" appearance="fill">
                    <mat-label>Zip Code</mat-label>
                    <input matInput required />
                </mat-form-field>
             </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Billing" completed="false" optional>
            <div>
                <mat-form-field floatLabel="always" appearance="fill" color="warn">
                    <mat-label>Payment Card Number</mat-label>
                    <input matInput required />
                </mat-form-field>
                <br>
                <mat-form-field floatLabel="always" appearance="fill" color="warn">
                    <mat-label>Expiration Date</mat-label>
                    <input matInput required />
                </mat-form-field>
               <mat-form-field appearance="fill">
                    <mat-label>Security Code</mat-label>
                    <input type="password" matInput required />
                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Students" completed="false" optional>
            <app-student-slider class="tester"></app-student-slider>
            <div>
                <button mat-raised-button color="primary" (click)="openDialog()">
                    Add Student
                </button>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

  </div>
