<mat-label><b>Chicago neighborhoods for tutor sessions:</b></mat-label>
<mat-select class="borough-selector" [(value)]="borough" multiple>
    <mat-option>None</mat-option>
    <mat-option value="Central, Near North and Near South Side">Central, Near North and Near South Side</mat-option>
    <mat-option value="North Side">North Side</mat-option>
    <mat-option value="Far North Side">Far North Side</mat-option>
    <mat-option value="Northwest Side">Northwest Side</mat-option>
    <mat-option value="South Side">South Side</mat-option>
    <mat-option value="Far South Side">Far South Side</mat-option>
    <mat-option value="Southwest Side">Southwest Side</mat-option>
    <mat-option value="Far Southwest Side">Far Southwest Side</mat-option>
    <mat-option value="West and Near West Side">West and Near West Side</mat-option>
</mat-select>
<mat-grid-list id="Grid" cols="4" rowHeight="2:1" class="grid-list">
    <ng-container *ngFor="let neighborhood of filterByBorough">
        <mat-grid-tile class="grid-tile" colspan="1" rowspan="1">
            <mat-button-toggle value="Raised" color="primary" class="grid-button"
                (click)="clicked($event, neighborhood.Name)">{{neighborhood.Name}}</mat-button-toggle>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>