<mat-accordion>
    <mat-expansion-panel *ngFor="let student of studentArray; let select = index;">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ student.text }}
            </mat-panel-title>
            <!--                 <mat-panel-description>
                    {{ student.alt }}
            </mat-panel-description>
-->
        </mat-expansion-panel-header>
        <div class="content">
            <img src="{{student.img}}" height="200px" width="200px" alt="country flag">
            <div class="content-text">
                <b>{{ student.text }}</b>
                <br>
                <a>{{ student.alt }}</a>
            </div>
            <mat-action-row>
                <button mat-stroked-button color="accent">Edit</button>
                <button mat-stroked-button color="accent"> Delete</button>
            </mat-action-row>
        </div>
    </mat-expansion-panel>
</mat-accordion>
